*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    }

.header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-left: 12%;
    padding-right: 12%;
}

.header h1{
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h2{
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
}

.description{
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.description p { 
    font-size: 18px;
    color: #e5e7eb;
}

.links{
    display: flex;
    align-self: center;
    gap: 20px;
}

.image-max{ 
    max-width: 500px;
    display: flex;
    object-fit: cover;
    flex-grow: 0;
    flex-shrink: 1;
}

.main-image{
    display: flex;
}

.section1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 25px;
    padding: 10px 30px;
    border: 0px;
}
.Break{
    background-color: #1f2937;
    padding: 25px;
}

.section2{
    display: flex;
    justify-content: center;
}

.section3{
    display: flex;
    flex-direction: row;
}